.content__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 168px;
  }

  .content__container {
    width: 255px;
  }

  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 49px;
  }

  .content:nth-child(1) {
    margin-top: 0;
  }

  .content__span {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #0e8784;
  }

  .content__deck {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333d4b;
    margin-left: 28px;
    opacity: 0.4;
  }

  #content__text {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333d4b;
    margin-left: 25px;
  }

  /* DIV-NEW-PART */

  .wrapper__title {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888f;
    margin-top: 88px;
  }

  .wrapper__title:nth-child(1) {
    margin-top: 0;
  }

  .wrapper__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 23px;
    margin-top: 56px;
  }

  .inner {
    background: #f4f1eb;
    border-radius: 8px;
    padding: 32px 28px 84px 28px;
  }

  .inner__title {
    font-family: "Fraunces", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333d4b;
  }

  .inner__deck {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 172px;
    color: #333d4b;
    margin-top: 24px;
  }

  .inner:hover:nth-child(2) {
    background: #0e8784;
    border-radius: 8px;
  }

  .innerr {
    background: #f4f1eb;
    border-radius: 8px;
    padding: 32px 28px 84px 28px;
  }

  .innerr:hover:nth-child(1) {
    background: #0e8784;
    border-radius: 8px;
  }

  .inners {
    background: #f4f1eb;
    border-radius: 8px;
    padding: 32px 28px 84px 28px;
  }

  .inners:hover:nth-child(3) {
    background: #0e8784;
    border-radius: 8px;
  }

  .card {
    background: #2c343e;
    /* width: 730px; */
    margin-top: 84px;
  }

  .card__desc {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding-top: 31px;
    padding-left: 64px;
  }

  .card__list {
    padding: 8px 64px 30px 64px;
    width: 650px;
  }

  .card__item {
    font-family: "Fraunces", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
    display: inline-block;
  }

  .card__items {
    font-family: "Fraunces", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #0e8784;
    display: inline-block;
  }

  .card__btn {
    font-family: "Fraunces", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #fefcf7;
    background: #0e8784;
    border-radius: 6px;
    padding: 15px 30px;
    margin-top: 50px;
    width: 217px;
    border: none;
    margin-left: 513px;
  }

  .card__btn:hover {
    background: #0000ff;
    color: #000;
  }

  .card__btn:active {
    background: #0e8784;
    color: #fefcf7;
  }